@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
    background: rgba(63, 108, 149, 0.4);
}

::-webkit-scrollbar-thumb {
    background: var(--bs-body-color);
}

::-webkit-scrollbar-corner {
    background: #000;
}

:root {
    overflow-x: hidden;
}

* {
    font-family: 'Poppins', sans-serif;

}

body,
nav {
    /* background-color: rgb(128, 113, 180) */
    background-color: rgba(240, 240, 240);
}
img
{
    max-width: 100%;
}

section
{
    padding: 1rem  0;
}

section:first-of-type
{
    padding: 6rem 0 1rem 0;
}
/* /////////////////////////////////////////////////////////  */
.skills{
    min-width: 40px;
    max-width: 40px;
}
.text-shadow-sm {
    text-shadow: -1px 1.5px 2px rgba(0, 0, 0, 0.3);
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

.border-8 {
    border-width: 8px;
}

.shadow-0-0 {
    box-shadow: 0 .0 10px 1px rgba(0, 0, 0, .2) !important;
}

.nav-link {
    transition: all 0.2s ease-in-out;
}

.icon {
    width: 3rem;
}

/* Font Awesome Additions*/
.scale {
    transition: all 0.2s ease-in-out;
}

.scale:hover {
    transform:scale(120%) ;
    /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6); */
}
.myPicture{
    background-color: #4c70e6;
    max-height: 300px;
    animation: blob 20s infinite ease-in-out;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%  ;
}

.my_name {
    width: 14rem;
    height: 3.4rem;
}

.iti {
    width: 1rem;
    margin: 0 0 10px 0;
}


/*Text (Samer) Animate*/
svg text {
    animation: stroke 2s 1 alternate;
    stroke-width: 2;
    fill: var(--bs-primary);
    text-shadow: -1px 1.5px 2px rgba(0, 0, 0, 0.3)
}

.about_text {
    
    font-size: large;
    line-height: 1.7 !important;
}

@keyframes stroke {
    0% {
        fill: rgba(72, 138, 204, 0);
        stroke: var(--bs-primary);
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        stroke-width: 2;
        text-shadow: -1px 0.1px 0.5px rgba(0, 0, 0, 0.3)
    }

    25% {
        fill: rgba(72, 138, 204, 0);
        stroke: var(--bs-primary);
        text-shadow: -1px 0.2px 1px rgba(0, 0, 0, 0.3)
    }

    75% {
        fill: rgba(72, 138, 204, 0);
        stroke: var(--bs-primary);
        stroke-width: 3;
        text-shadow: -1px 0.8px 2px rgba(0, 0, 0, 0.3)
    }

    100% {
        fill: var(--bs-primary);
        stroke: rgba(54, 95, 160, 0);
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
        stroke-width: 0;
        text-shadow: -1px 1.5px 2px rgba(0, 0, 0, 0.3)
    }
}




.pop {
    animation: suddenShow 1.2s 1 ease;
}

@keyframes suddenShow {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes blob {
    0%
    {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%  ;
    }
    50%
    {
        border-radius: 70% 30% 30% 70% / 70% 70% 30% 30%   ;
    }
    100%
    {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    }
}